#section1{
    background-color: rgb(238, 0, 90);
}

#section2{
    background-color: rgb(76, 198, 192)
}

#section3{
    background-color: rgb(188, 133, 179);
}

#section4{
    background-color: rgb(147, 220, 1360);
}

.section{
    text-align: center;
    color: white;
}

   
